.App {
  background-color: #282c34;
  text-align: center;
  display: block;
  color: #b9b0a9;
  font-family: "Source Serif Pro", serif;
}

.AppLogo {
  display: block;
  margin: 0 auto;
  width: 100vw;
}

.App .container {
  margin: 0 auto;
  padding: 0 auto;
}

.App .Typewriter {
  display: block;
  margin: 0 auto;
}

.App-footer {
  margin: 70px 0;
  font-size: 13px;
  text-align: center;
  opacity: 0.8;
  padding: 0 0 10px;
}

.App-footer .links {
  color: #b9b0a9;
}
