.App {
  background-color: #282c34;
  text-align: center;
  display: block;
  color: #b9b0a9;
  font-family: "Source Serif Pro", serif;
}

.AppLogo {
  display: block;
  margin: 0 auto;
  width: 100vw;
}

.App .container-fluid {
  padding: 0;
}

.App .LibraryLeft {
  border-radius: 0 4px 4px 0;
}

.App .LibraryRight {
  border-radius: 4px 0 0 4px;
}

.App .Book {
  display: block;
  margin: 0 auto;
  border-radius: 0 0 4px 4px;
}

.App-footer {
  margin: 70px 0;
  font-size: 13px;
  text-align: center;
  opacity: 0.8;
  padding: 0 0 10px;
}

.App-footer .links {
  color: #b9b0a9;
}
