.Dictionary .searchForm {
  color: #1b1b10;
  background-color: #282c34;
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin: 40px;
}

.Dictionary .input {
  background-color: #bfb7ae;
  opacity: 0.8;
  text-align: center;
}
