.Dictionary .Intro {
  font-size: 20px;
  margin: 20px 0;
}

.Dictionary .Title {
  font-size: 25px;
  font-weight: 600;
  margin: 15px 0 25px;
}

.Dictionary .searchForm {
  background-color: #282c34;
}

.Dictionary .input {
  background-color: #e0e0e0;
  margin-bottom: 30px;
  padding: 8px;
  border: 5px dotted #282c34;
  width: 100%;
  font-family: "Source Serif Pro", serif;
  color: #1b1b10;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.Dictionary .hint {
  font-size: 15px;
  margin: 0 40px 20px;
}

.Dictionary .hintEnd {
  font-size: 15px;
  margin: 0 40px 40px;
}