.Phonetic {
  margin: 0 20px 0;
  font-size: 22px;
  padding: 0 0 20px;
}

.Phonetic a {
  color: #1b1b10;
  opacity: 0.8;
}

.Phonetic a:hover {
  color: #a09991;
}

.Phonetic .fas {
  font-size: 35px;
  line-height: 1.2px;
}

.Phonetic .Text {
  color: #1b1b10;
  opacity: 0.7;
  font-weight: 600;
  margin-left: 15px;
}
